#popupMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background: rgb(0, 0, 0);
    padding: 20px 30px;
    border-radius: 10px;
    
    z-index: 9999;
    text-align: center;
    
    position: fixed;
    display: block;
    
    width: 300px;
    max-width: 90%;
    box-sizing: border-box;
}

#closePopup {
    position: absolute;
    top: 5px;
    right: 5px;
    color: rgb(255, 255, 255);
    
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

#popupMessage span {
    color: rgb(255, 255, 255);
    display: block;
    margin-top: 20px;
    word-wrap: break-word;
}